<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let cartItem of cartList; trackBy: cartIdentifier">
    <app-item-card [item]="cartItem" [isCartItem]="true">
      <div  fxLayout="column">
        <div>
          {{cartItem.price * cartItem.purchaseQuantity | price}}
        </div>
        <div fxLayoutAlign="end center">
          <button mat-icon-button (click)="removeItemFromCart(cartItem)" [disabled]="!cartItem.purchaseQuantity">
            <mat-icon>remove</mat-icon>
          </button>
          {{cartItem.purchaseQuantity}}
          <button mat-icon-button (click)="addItemToCart(cartItem)" [disabled]="!cartItem.availableCount">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </app-item-card>
  </div>
</div>
