<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <div>
      <a mat-button [routerLink]="homeLink">Home</a>
    </div>

    <span class="nav-spacer"></span>

    <div>
      <button mat-icon-button class="example-icon" aria-label="" [routerLink]="cartLink">
        <mat-icon [matBadge]="badge" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
