html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.toast-success {
  background-color: green;
  color: white;
}

.toast-warn {
  background-color: orange;
  color: white;
}

.toast-error {
  background-color: red;
  color: white;
}
